stages:
  - build
  - test
  - package

image: maven:3.9.9-eclipse-temurin-17

cache:
  paths:
    - .m2/repository

before_script:
  - echo "Starting CI for Lost & Found CoreService"

build:
  stage: build
  script:
    - mvn clean compile
  artifacts:
    paths:
      - target/
    expire_in: 1 hour

test:
  stage: test
  script:
    - mvn test

package:
  stage: package
  script:
    - mvn clean package
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 hour
